@tailwind base;
@tailwind components;
@tailwind utilities;

/* FONTS */
@font-face {
  font-family: "Rajdhani-Regular";
  src: url("/../assets/fonts/Rajdhani/Rajdhani-SemiBold.otf");
}
@font-face {
  font-family: "Rajdhani-Light";
  src: url("/../assets/fonts/Rajdhani/Rajdhani-Light.otf");
}
.secondary-font-regular {
  font-family: var(--FFSECONDARYREG);
}
.secondary-font-light {
  font-family: var(--FFSECONDARYLIGHT);
}

/* VARIABLES */
:root {
  --FFPRIMARY: "Helvetica Neue", "Helvetica";
  --FFSECONDARYREG: "Rajdhani-Regular";
  --FFSECONDARYLIGHT: "Rajdhani-Light";
  --BLACK: #0f0f0f;
  --WHITE: #efefef;
  --GREY: #8e8b86;
  --LIGHTGREEN: #d6ff93;
}

/* RESET */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: var(--WHITE);
  color: var(--BLACK);
  overflow-x: hidden;
  font-family: var(--FFPRIMARY);
}

main {
  scroll-behavior: smooth;
}

h1 {
  font-size: clamp(1.5rem, 2.5vw, 3.5rem);
  font-weight: 700;
  color: var(--BLACK);
  text-transform: uppercase;
}

/* UTILITIES */
.cursor-dot {
  width: 8px;
  height: 8px;
  background-color: var(--BLACK);
  border-radius: 50%;
  position: fixed;
  pointer-events: none;
  opacity: 0;
  z-index: 2;
}

.mask {
  overflow: hidden;
}

.nav-link {
  cursor: pointer;
  z-index: 2;
}

.hover-link {
  position: relative;
}

.hover-link::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: -2px;
  left: 0;
  background-color: var(--BLACK);
  transform-origin: bottom right;
  transition: transform 0.4s ease-in-out;
}

.hover-link:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* PRELOADING SCREEN */
.pre-loader-container {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 10;
}

.clipper-left {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 50vw;
  background-color: var(--BLACK);
  overflow: clip;
  clip-path: inset(0 0 0 0);
  display: flex;
  justify-content: flex-end;
  z-index: 2;
}

.clipper-right {
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  width: 50vw;
  background-color: var(--BLACK);
  overflow: clip;
  clip-path: inset(0 0 0 0);
  display: flex;
  justify-content: flex-start;
  z-index: 2;
}

.loader-text {
  width: max-content;
  height: 100%;
  padding: 4em;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 20px;
  color: var(--WHITE);
}

.pre-loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  background-color: var(--BLACK);
}

.loader-wrapper {
  position: relative;
  width: 2px;
  height: 140px;
  background-color: var(--BLACK);
  border-radius: 2px;
  overflow: hidden;
}

.loader {
  position: absolute;
  top: 100%;
  width: 100%;
  height: 100%;
  background-color: var(--WHITE);
}

/* COMPONENTS */
nav,
footer {
  position: fixed;
  width: 100%;
  padding: 2em;
  color: var(--WHITE);
  mix-blend-mode: difference;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  text-transform: uppercase;
  font-weight: 300;
}

footer {
  bottom: 0;
}

.label-card {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 42px 2rem;
  border-bottom: 1px solid var(--GREY);
  transition: all 0.5 cubic-bezier(0.075, 0.82, 0.165, 1);
  cursor: pointer;
}

.label-card:hover {
  background-color: var(--LIGHTGREEN);
}

.label-img {
  position: absolute;
  width: 300px;
  height: 300px;
  object-fit: cover;
  object-position: center;
  margin-left: 60%;
  margin-bottom: 7rem;
  display: none;
  transition: all 1 cubic-bezier(0.075, 0.82, 0.165, 1);
  cursor: pointer;
}

.label-card:hover .label-img {
  display: block;
}

.status-dot {
  width: 8px;
  height: 8px;
  border-radius: 100%;
}

/* WEBKIT */
::-webkit-scrollbar {
  width: 5px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--BLACK);
  border-radius: 5px;
}

/* MEDIA SCREEN */
@media screen and (max-width: 600px) {
  .cursor-dot {
    display: none;
  }
  .label-img {
    display: none;
  }
  .label-card:hover .label-img {
    display: none;
  }
}

@media screen and (max-width: 1000px) {
  nav,
  footer {
    padding: 1rem 8px;
    font-size: 12px;
  }
  .label-card {
    padding: 24px 8px;
    gap: 8px;
  }
  .label-img {
    width: 150px;
    height: 150px;
  }
  .status-dot {
    width: 6px;
    height: 6px;
  }
}
